---

version: '3.5'

services:

{% for item in range(0,3) %}
  mysql-{{ item }}:
    image: mysql/mysql-server:8.0
    container_name: mysql-{{ item }}
    hostname: mysql-{{ item }}
    ports:
      - "330{{ item + 7 }}:3306"
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
      - MYSQL_ROOT_HOST=%
    volumes:
      - /data/mysql-{{ item }}:/var/lib/mysql
    command: ["mysqld",
      "--server-id=1",
      "--log-bin=mysql-bin-1.log",
      "--enforce-gtid-consistency=ON",
      "--log-slave-updates=ON",
      "--gtid-mode=ON",
      "--transaction-write-set-extraction=XXHASH64",
      "--binlog-checksum=NONE",
      "--master-info-repository=TABLE",
      "--relay-log-info-repository=TABLE",
      "--plugin-load=group_replication.so",
      "--relay-log-recovery=ON",
      "--loose-group-replication-start-on-boot=OFF",
      "--loose-group-replication-group-name={{ mysql_replication_group_name }}",
      "--loose-group-replication-local-address=mysql-{{ item }}:6606",
      "--loose-group-replication-group-seeds=mysql-0:6606,mysql-1:6606,mysql-2:6606",
      "--loose-group-replication-single-primary-mode=ON",
      "--loose-group-replication-enforce-update-everywhere-checks=OFF"]
    healthcheck:
      test: "mysqladmin ping -u root -p$${MYSQL_ROOT_PASSWORD}"
      interval: 2s
      retries: 20
{% endfor %}

...
